<div class="{{isChecked ? 'darkMode': ''}}">

    <mat-toolbar color="primary">

        <mat-toolbar-row class="d-flex justify-content-between">
            <div class="col-lg-0">
                <button mat-raised-button type="button" class="buttonHome" [routerLink]="['/']">
                    Início
                </button>
            </div>
            <div class="col-lg-10" style="text-align: right;" *ngIf="!isLogged">
                <button mat-raised-button type="button" class="buttonLogin" [routerLink]="['/login']">
                    Login
                </button>
            </div>
          <div class="col-lg-10" style="text-align: right;" *ngIf="isLogged">
            <button mat-raised-button type="button" class="buttonLogin mx-2" (click)='OnLogout()' [routerLink]="['/login']">
              Logout
            </button>
            <button mat-raised-button type="button" class="buttonLogin" [routerLink]="['/saude']">
              Iniciar Atendimentos
            </button>
          </div>



        </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>
