<div class="d-flex flex-wrap justify-content-center">

  <button mat-icon-button color="warn" [disabled]="isLoading" (click)="onSubmit()"><mat-icon>update</mat-icon></button>
  <div class="divChart">
    <p class="titulo">Resultado dos testes</p>
    <canvas id="myChart"></canvas>
  </div>
  <div class="divChart">
    <p class="titulo">Casos positivos por sexo</p>
    <canvas id="myChartSex"></canvas>
  </div>
  <div class="divChart">
    <p class="titulo">Resultado por faixa etária</p>
    <canvas id="myChartAges"></canvas>
  </div>

</div>
