<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8" *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div class="col-xl-8 p-4 " *ngIf="!isLoading">
          <h2>{{paciente.nome}}</h2>
          <h3>{{paciente.cpf}}</h3>
          <form class="d-flex flex-column" [formGroup]="attForm" (ngSubmit)="onSubmit(attForm.value)">


                <div class="row">
                    <!--ALTERAR INPUT DATA!-->

                    <!--ALTERAR PARA RADIO!-->
                    <mat-form-field appearance="fill" class="col-xl-6" style="background-color: white;">
                        <mat-select formControlName="possibCont" >
                            <mat-option value="true">Positivo</mat-option>
                            <mat-option value="false">Negativo</mat-option>
                        </mat-select>
                        <mat-label>Possibilidade de contagio</mat-label>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="fill" class="col-xl-6">
                        <mat-select formControlName="result1">
                            <mat-option value="true">Positivo</mat-option>
                            <mat-option value="false">Negativo</mat-option>
                        </mat-select>
                        <mat-label>Resultado Teste 1</mat-label>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-xl-6">
                        <mat-select formControlName="result2">
                            <mat-option value="">Ainda não testado</mat-option>
                            <mat-option value="true">Positivo</mat-option>
                            <mat-option value="false">Negativo</mat-option>
                        </mat-select>
                        <mat-label>Resultado Teste 2</mat-label>
                    </mat-form-field>
                </div>
                <button mat-raised-button [disabled]="!attForm.valid" color="primary" type="submit">Salvar</button>
            </form>
            <div class="col-xl2">

            </div>
        </div>
    </div>
