<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <mat-card class="col-xl-3">
      <mat-card-header>
        <mat-card-title>Atendimentos aguardando segundo resultado</mat-card-title>
      </mat-card-header>
      <table mat-table [dataSource]="attendances">

        <ng-container matColumnDef="patient" >
          <th mat-header-cell *matHeaderCellDef>Paciente</th>
          <td mat-cell class="m-5" *matCellDef="let cell">{{cell.paciente.nome}}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Duração</th>
          <td mat-cell *matCellDef="let cell">{{cell.time}} minutos</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAndamento"></tr>
        <tr mat-row *matRowDef="let row;  columns: displayedAndamento" (click)="openDialog(row)"></tr>
      </table>
    </mat-card>
    <mat-card class="col-xl-4 mx-4 ">
      <mat-card-header>
        <mat-card-title>Iniciar Atendimento</mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <form [formGroup]="searchForm" (submit)="onSubmit()" class="d-flex flex-column align-items-stretch">
          <app-cpf  formControlName="cpf"></app-cpf>
          <button mat-raised-button type="submit" [disabled]="!searchForm.valid" color="primary">
            Pesquisar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card class="col-xl-3">
      <mat-card-header>
        <mat-card-title>Atendimentos</mat-card-title>
      </mat-card-header>
      <table mat-table [dataSource]="consultations">

        <ng-container matColumnDef="patient" >
          <th mat-header-cell *matHeaderCellDef>Paciente</th>
          <td mat-cell class="m-5" *matCellDef="let cell">{{cell.paciente.nome}}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Duração</th>
          <td mat-cell *matCellDef="let cell">{{cell.time}} minutos</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAttendance"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAttendance"></tr>
      </table>
    </mat-card>
  </div>

</div>
