<div class="row">
    <div class="column">
        <div class="card">
            <div class="card-header">
              Máximo
            </div>
            <div class="card-body">
              <h5 class="card-title">{{max}} minutos</h5>      
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header">
              Mínimo
            </div>
            <div class="card-body">
              <h5 class="card-title">{{min}} minutos</h5>      
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header">
              Médio
            </div>
            <div class="card-body">
              <h5 class="card-title">{{med}} minutos</h5>      
            </div>
        </div>
    </div>
</div>
