/* Float four columns side by side */
* {
    justify-content: center;
  }
.column {    
    float: left;
    width: 15%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 10px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    width: 200px;
    height: 150px;
    color: rgb(211, 211, 211);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */    
    background-color: #056676;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }