<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 p-4">
            <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                     <mat-label>Email</mat-label>
                     <input matInput placeholder="email" formControlName="email" type="email">
                     <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" >
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="senha" formControlName="password" type="password">
                    <mat-icon matSuffix>https</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">
                    Entrar
                </button>
            </form>
        </div>
    </div>

</div>
