<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-xl-6" *ngIf="!isLoading">
      <mat-horizontal-stepper [linear]="true">
        <mat-step [stepControl]="formPatient">
          <form class="d-flex flex-column" [formGroup]="formPatient">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" type="text" formControlName="nome" required>
              <mat-icon matSuffix>account_box</mat-icon>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo" required>
                <mat-option value="Feminino">Feminino</mat-option>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Outro">Outro</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="row">
              <mat-form-field appearance="outline" class="col-xl-6">
                <mat-label>Idade</mat-label>
                <input matInput type="number" min="0" formControlName="idade" required class="number">
                <span matSuffix>anos</span>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-xl-6" required>
                <mat-label>Peso</mat-label>
                <input matInput class="number" formControlName="peso" type="number" min="0" required>
                <span matSuffix>KG</span>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Altura</mat-label>
              <input matInput formControlName="altura" class="number" type="number" min="0" required>
              <span matSuffix>CM</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="numContato" class="number" type="string" min="0">
              <mat-error>Deve conter apenas números</mat-error>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <app-cpf formControlName="cpf"></app-cpf>
            <button [disabled]="!formPatient.valid" mat-raised-button type="button" matStepperNext color="primary">
              Próximo
            </button>
          </form>
        </mat-step>
        <mat-step [stepControl]="formAddress">
          <form class="d-flex flex-column" [formGroup]="formAddress">
            <ng-template matStepLabel>Endereço</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Rua</mat-label>
              <input matInput placeholder="Rua" type="text" formControlName="rua" required>
              <mat-icon matSuffix>edit_road</mat-icon>
            </mat-form-field>

            <div class="row">
              <mat-form-field appearance="outline" class="col-xl-6">
                <mat-label>Número</mat-label>
                <input matInput placeholder="Nº" type="number" min="0" formControlName="numero" required>

              </mat-form-field>
              <mat-form-field appearance="outline" class="col-xl-6">
                <mat-label>Complemento</mat-label>
                <input matInput placeholder="Complemento" type="number" formControlName="complemento" min="0">

              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Bairro</mat-label>
              <input matInput placeholder="Bairro" type="text" required formControlName="bairro">

            </mat-form-field>
            <button mat-raised-button type="button" matStepperPrevious>
              Voltar
            </button>
            <button class="my-2" mat-raised-button [disabled]="!formAddress.valid" type="button" matStepperNext
                    color="primary">
              Próximo
            </button>
          </form>
        </mat-step>
        <mat-step>
          <div class="d-flex flex-column">
            <ng-template matStepLabel>Salvar</ng-template>
            <div class="row">
              <div class="col-6">
                <h3>Nome</h3>
                <p>
                  Nome : {{nome.value}}<br>
                  CPF : {{cpf.value}} <br>
                  Idade : {{idade.value}} {{idade.value > 1 ? "anos" : "ano"}}<br>
                  Peso : {{peso.value}} Kg<br>
                  Altura : {{altura.value}} Cm <br>

                  Sexo : {{sexo.value}} <br>

                  Telefone : {{numContato.value}}<br>
                </p>
              </div>
              <div class="col-6">
                <h3>Endereço</h3>
                <p>
                  Endereço : {{rua.value}}, {{numero.value}}<br>
                  Complemento : {{complemento.value}}<br>
                  Bairro : {{bairro.value}}<br>


                </p>
              </div>
            </div>
            <button mat-raised-button matStepperPrevious>Voltar</button>
            <button
              class="my-2"
              mat-raised-button
              color="primary"
              [disabled]="(!formAddress.valid || !formAddress.valid)"
              (click)="submit()"
            >
              Salvar
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="col-xl-6 d-flex justify-content-center " *ngIf="isLoading">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </div>

</div>
