
  <h3 mat-dialog-title>Qual foi o resultado do teste {{data.paciente.sexo == "Masculino"?"do":"da"}}  {{data.paciente.nome}}</h3>
  <div class="d-flex flex-column">
    <button mat-raised-button (click)="onClick(true)" class="btn btn-danger">Positivo</button>
    <button mat-raised-button (click)="onClick(false)" class="btn btn-success my-2">Negativo</button>
  </div>

