<mat-form-field appearance="outline">
  <mat-label>CPF</mat-label>
  <input matInput  type="text" [(ngModel)]="value"  pattern='(\d{3})[.](\d{3})[.](\d{3})[-](\d{2})' maxlength="14"   required>
  <mat-icon matSuffix>credit_card</mat-icon>
  <mat-error >CPF está inválido</mat-error>
</mat-form-field>
