table {
  width: 100%;
}
.title{
  width: 100%;
  height: 700px;
  margin-bottom: -300px;
  margin-top:-25px;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #056676;
}

.title-text{

  display: flex;
  justify-content: center;
  align-items: center;
}

.portal{
  color: rgb(212, 212, 212);
  margin-top: 100px;
  font-size: 90px;
}
.welcome{
  color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
}
.weekly{
  display: flex;
  justify-content: right;
}
