<div class="container-fluid" >
  <div class="row justify-content-center" *ngIf="unitsHasCases.length ==0">
    <mat-card class="col-xl-10 d-flex justify-content-center">
      <mat-card-content>
        <mat-card-title>Carregando...</mat-card-title>
        <mat-spinner  >

        </mat-spinner>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row my-4 justify-content-center">
    <mat-card class='title'>
      <mat-card-header class="title-text" >
        <mat-card-title class='portal' >
          Portal Covid
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class='welcome'>
        Bem-vindo ao seu portal de acompanhamento dos casos de coronavirus, selecione uma unidade para visualizar o seu relatório.
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row my-4 justify-content-center"  *ngIf="unitsHasCases.length >0">
    <mat-card class="col-xl-10 mx-2">
      <mat-card-header>
        <mat-card-title>
          Unidades
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="d-flex justify-content-center">
        <table mat-table [dataSource]="unitsHasCases"  >
          <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell class="m-5"  *matCellDef="let cell">{{cell.name}}</td>
          </ng-container>
          <ng-container matColumnDef="case">
            <th mat-header-cell *matHeaderCellDef>Casos</th>
            <td mat-cell *matCellDef="let cell">{{cell.case}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayed"></tr>
          <tr mat-row (click)="setUnit(row)" *matRowDef="let row; columns: displayed"></tr>
        </table>

      </mat-card-content>
    </mat-card>

  </div>
  <div class="row justify-content-center" >
    <mat-card class="col-xl-10">
      <mat-card-header>
        <mat-card-title>
          Casos por Unidades
        </mat-card-title>
        <mat-card-subtitle>
          {{UnitName}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>        
        <app-covidcases [UnitId]="UnitId" [weekly]="weekly"></app-covidcases>
        <div class='weekly'>
          <input type="checkbox" name="checkbox" [(ngModel)]="weekly">  Exibir Casos Semanais 
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row justify-content-center" >
    <mat-card class="col-xl-10">
      <mat-card-header>
        <mat-card-title>
          Tempo de atendimento
        </mat-card-title>
        <mat-card-subtitle>
          {{UnitName}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-atttime [timeMin]="timeResult.min" [timeMax]="timeResult.max" [timeMed] = "timeResult.med"></app-atttime>
      </mat-card-content>
    </mat-card>
  </div>



</div>
